<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>createReminder</title>
    <script src="https://unpkg.com/htmx.org@1.9.9/dist/htmx.js"></script>
    <link href="/server-side/output.css" rel="stylesheet"> 
</head>
<body hx-target="this">
    <div class="topbar">
        <a hx-get="/" trigger="click" >Page 1</a>
        <a hx-get="/createNewEvent" trigger="click">Page 2</a>
    </div>
    <div class="newEventForm">
    <form action="">
    <p>Enter a title: </p>
    <input type="text" name="title" id="title">
   <input type="hidden" id="currentDate" value="Date.now()">
    <p>When date does the event take place?</p>
    <input type="date" name="eventDate" id="eventDate">
    <button hx-post="/createNewEvent">Submit</button>
</div>
</form>

    
</body>
</html>