<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.9/dist/htmx.js"></script>
    <link href="/server-side/output.css" rel="stylesheet"> 
</head>
<body hx-target="this">
    
    <div class="topbar">
        <a hx-get="/" trigger="click" >Main Page</a>
        <a hx-get="/createNewEvent" trigger="click" >Create new Event</a>
    </div>
    <div>
        <p class="text-lg text-gray-900 py-4 px-6"> Your current events: </p>
        {{range .Event}}
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-teal-300 ml-2">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{.title}}</div>
                <p class="text-gray-700 text-base">{{.eventDate}}</p>
            </div>
        </div>
        {{end}}

    </div>
</body>
</html>